<!-- home -->
<!-- falta tela-details cadastro, home 2, home 3, entrega, resumo do pedido, pagamento-->
<link rel="stylesheet" href="./home.page.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap" rel="stylesheet">
<ion-content [fullscreen]="true">

  <ion-card>

    <ion-card-header>

      <img src="../../assets/img/vestido-amarelo.png" alt="" class="imgFundo">
      <ion-card-title>Vestido Amarelo</ion-card-title>
      <ion-card-subtitle>@claracabral</ion-card-subtitle>

    </ion-card-header>

      <ion-card-content>
        <p>Feminino</p> 
        <p>Tamanho: 04</p>
  
    </ion-card-content>

  </ion-card>

  <ion-button class="button-x" color="light">
    <ion-icon color="warning" slot="icon-only" name="close-outline"></ion-icon>
  </ion-button>

   <ion-button class="button-back" color="light">
    <ion-icon color="warning" slot="icon-only" name="arrow-back-outline"></ion-icon>
  </ion-button>

  <ion-button  class="button-heart" color="light">
    <ion-icon color="warning" slot="icon-only" name="heart-outline"></ion-icon>
  </ion-button>

 
  
  
</ion-content>
