<!-- carrinho -->
<!-- falta tela-details cadastro, home 2, home 3, entrega, resumo do pedido, pagamento-->
<link rel="stylesheet" href="./home.page.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap" rel="stylesheet">
<ion-content [fullscreen]="true">

  <h1 class="titulo"><b>carrinho</b></h1>

  <ion-card>

    <ion-card-header>

      <img src="../../assets/img/jardineira.png" alt="" class="imgCarrinho">
      <ion-card-subtitle>@monicacoelho</ion-card-subtitle>

    </ion-card-header>

  </ion-card>


  <ion-card>

    <ion-card-header>

      <img src="../../assets/img/shorts.png" alt="" class="imgCarrinho">
      <ion-card-subtitle>@luccalacerda</ion-card-subtitle>

    </ion-card-header>

  </ion-card>
  
  <ion-card>

    <ion-card-header>

      <img src="../../assets/img/camiseta.png" alt="" class="imgCarrinho">
      <ion-card-subtitle>@clarissaviana</ion-card-subtitle>

    </ion-card-header>

  </ion-card>

  <ion-card>

    <ion-card-header>

      <img src="../../assets/img/jardineira.png" alt="" class="imgCarrinho">
      <ion-card-subtitle>@monicacoelho</ion-card-subtitle>

    </ion-card-header>

  </ion-card>

  <ion-card>

    <ion-card-header>

      <img src="../../assets/img/vestido-verde.png" alt="" class="imgCarrinho">
      <ion-card-subtitle>@catarinarios</ion-card-subtitle>

    </ion-card-header>

  </ion-card>
  
</ion-content>
