<!-- matches -->

<link rel="stylesheet" href="./home.page.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap" rel="stylesheet">

<ion-content [fullscreen]="true">

<div>
  <h1 class="titulo"><b>matches</b></h1>

  <ion-searchbar search-icon="search-circle" value="buscar"></ion-searchbar>

  <!--roupa 1 - jardineira-->
  <div>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/jardineira.png" alt="" class="imgFundo">

      <ion-card-title>@monicacoelho
        <ion-icon name="cart-outline"></ion-icon>
      </ion-card-title>

      <ion-card-subtitle></ion-card-subtitle>

    </ion-card-header>
      <ion-card-content></ion-card-content>
  </ion-card>
</div>

<!-- roupa 2 - shorts -->
<div>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/shorts.png" alt="" class="imgFundo">
      <ion-card-title>@luccalacerda
        <ion-icon name="cart-outline"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

    </ion-card-header>

      <ion-card-content></ion-card-content>

  </ion-card>
</div>

<!-- roupa 3 - camiseta -->
<div>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/camiseta.png" alt="" class="imgFundo">
      <ion-card-title>@helenamartins
        <ion-icon name="cart-outline"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

    </ion-card-header>

      <ion-card-content></ion-card-content>

  </ion-card>
</div>

<!-- roupa 4 - vestido verde -->
<div>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/vestido-verde.png" alt="" class="imgFundo">
      <ion-card-title>@catarinarios
        <ion-icon name="cart-outline"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

    </ion-card-header>

      <ion-card-content></ion-card-content>

  </ion-card>
</div>

<!-- roupa 5 - vestido amarelo -->
<div>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/vestido-amarelo.png" alt="" class="imgFundo">
      <ion-card-title>@claracabral
        <ion-icon name="cart-outline"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

    </ion-card-header>

      <ion-card-content></ion-card-content>

  </ion-card>
</div>

<!-- roupa 6 - body-->
<div>
  <ion-card>
    <ion-card-header>
      <img src="../../assets/img/body.png" alt="" class="imgFundo">
      <ion-card-title>@mariacoutinho
        <ion-icon name="cart-outline"></ion-icon>
      </ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>

    </ion-card-header>

      <ion-card-content></ion-card-content>

  </ion-card>
</div>

</div>



</ion-content>